---
import MainLayout from '../layouts/MainLayout.astro';

const { ...rest } = Astro.props;

console.log('Ejemplo Page Props:', rest);

---

<MainLayout title='Ejemplo'>
  <main class="py-44">
    <h1>Ejemplo de Página</h1>
    <p>Esta es una página de ejemplo para mostrar cómo se estructura el contenido.</p>
    <p>Aquí puedes agregar más información o elementos según sea necesario.</p>
  </main>
</MainLayout>

<style>
  @reference "tailwindcss";
  h1 {
    @apply bg-gray-400 px-10;
  }
</style>