---
import Layout from '../layouts/Layout.astro';
import HeroHome from "@components/home/HeroHome.astro";
import DescriptionHome from "@components/home/DescriptionHome.astro";
import PortfolioHome from '@components/home/PortfolioHome.astro';
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';

//const currentYear = new Date().getFullYear();
---

<Layout title='SebaOlate | Front-end developer'>
  <!-- las clases que sirven para crear un .contanier con "container px-3 mx-auto py-6 md:pt-0 columns-3 gap-8" -->
  <main>
    <HeroHome />

    <DescriptionHome />

    <PortfolioHome />

    <Contact />

    <Footer />
  </main>
</Layout>