---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from "@components/Hero.astro";
import DescriptionHome from "@components/home/DescriptionHome.astro";
import PortfolioHome from '@components/home/PortfolioHome.astro';

//const currentYear = new Date().getFullYear();
---

<MainLayout>
  <!-- las clases que sirven para crear un .contanier con "<div class='container mx-auto px-2 md:px-4'>" -->
  <main>
    <Hero type='home'/>

    <DescriptionHome />

    <PortfolioHome />
  </main>
</Layout>