---
import Hero from '@components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import ButtonMain from '@components/ButtonMain.astro';
---

<Layout title="SebaOlateH | Portafolio">
  <main>
    <Hero type="page" title="Acerca de mí" tagline="Aquí encontrarás una selección de mis trabajos más relevantes." subtitle='Trabajos destacados' align="left" />

    <ButtonMain
      href="/detail"
      className="btn-main"
      type="anchor"
    > Ir a pagina Detail 
    </ButtonMain>

      

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus repudiandae dolores autem eius aliquam magni est eum? Molestiae similique eaque repudiandae suscipit voluptatibus temporibus atque fugit doloribus ut. Expedita, ipsa.
    Impedit veniam quis quisquam soluta quam libero aliquid pariatur officia nulla fugit vitae quas dolore nesciunt nostrum provident harum eos, vel non laboriosam ut nisi. Atque, magni eos. Atque, tenetur.</p>
  </main>
</Layout>