---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '@components/Hero.astro';
import CardWorkPost from '@components/CardWorkPost.astro';
import { getCollection } from 'astro:content';

const works = (await getCollection('works')).sort((a, b) => (
  b.data.postNumber - a.data.postNumber
));
---

<MainLayout title='Portafolio'>
  <main>
    <Hero
      type='page'
      title='Portafolio'
      tagline='Aquí encontrarás una selección de mis trabajos más relevantes.'
      align='center'
    />

    <div class='container mx-auto px-2 md:px-4'>
      <ul class='catalog py-16 md:py-24'>
        {works.map((post) => <CardWorkPost work={post} />)}
      </ul>
    </div>
  </main>
</MainLayout>

<style lang='scss'>
  .catalog {
    columns: 18vw 1; //18vw 4
    column-gap: 1rem;

    @media screen and (768px <= width < 1024px) {
      columns: 18vw 2;
    }
    @media screen and (width >= 1024px) {
      columns: 18vw 3;
    }
    @media screen and (width >= 1280px) {
      columns: 18vw 4;
    }
  }
</style>
