---
import { Image } from 'astro:assets';
import Ruler from '@components/Ruler.astro';
import Noise from '@components/jsx/Noise';
import Icon from '@components/Icon.astro';

import experienciaImg from '@images/reunion-nerv.jpg';
import habilidadesImg from '@images/base-nerv.jpg';

const medidaRuler:number = 49;
---

<section class='description'>
  <Noise
    client:load
    patternSize={250}
    patternScaleX={1}
    patternScaleY={1}
    patternRefreshInterval={2}
    patternAlpha={30}
  />
  <div class='caution-bar'>
    <div class='caution-bar__bg1'></div>
    <div class='caution-bar__bg2'></div>

    <div
      class='warning-slider'
      style='
      --width: 110px;
      --height: 40px;
      --quantity: 6;
    '
    >
      <div class='warning-slider__list'>
        <div class='warning-slider__item' style='--position: 1'>
          <i class='warning-slider__icon fa fa-warning'></i>
          <p class='warning-slider__text'>WARNING</p>
          <i class='warning-slider__icon fa fa-warning'></i>
        </div>
        <div class='warning-slider__item' style='--position: 2'>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
          <p class='warning-slider__text'>警告</p>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
        </div>
        <div class='warning-slider__item' style='--position: 3'>
          <i class='warning-slider__icon fa fa-warning'></i>
          <p class='warning-slider__text'>WARNING</p>
          <i class='warning-slider__icon fa fa-warning'></i>
        </div>
        <div class='warning-slider__item' style='--position: 4'>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
          <p class='warning-slider__text'>警告</p>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
        </div>
        <div class='warning-slider__item' style='--position: 5'>
          <i class='warning-slider__icon fa fa-warning'></i>
          <p class='warning-slider__text'>WARNING</p>
          <i class='warning-slider__icon fa fa-warning'></i>
        </div>
        <div class='warning-slider__item' style='--position: 6'>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
          <p class='warning-slider__text'>警告</p>
          <i class='warning-slider__icon fa fa-warning hidden! lg:inline-block!'></i>
        </div>
      </div>
    </div>
  </div>

  <div class='ruler-deco ruler-deco--1'>
    <Ruler cm={medidaRuler} align='left' color='var(--color-main-1)' />
  </div>

  <div class='ruler-deco ruler-deco--2'>
    <Ruler cm={medidaRuler} align='right' color='var(--color-main-1)' />
  </div>

  <div class="container px-9 lg:px-20 mx-auto mb-24 lg:mb-32">
    <div class='card-experience mt-28 lg:mt-36'>
      <h2 class="card-experience__title title-evangelion">Experiencia</h2>
      <figure class='card-experience__img-content'>
        <Image
          src={experienciaImg}
          class='card-experience__img'
          alt='reunión de trabajo'
        />
      </figure>
      <div class="bar-decoration"></div>
      <div class='card-content years'>
        <h3 class='card-content__title'>
          <span class='card-content__number'>+07</span>
          Años
        </h3>
        <ul class="card-content__list">
          <li class="card-content__item">De experiencia en maquetación</li>
        </ul>
      </div>
      <div class='card-content companies'>
        <h3 class='card-content__title'>
          <span class='card-content__number'>03</span>
          Empresas
        </h3>
        <ul class='card-content__list'>
          <li class='card-content__item'>2Brains</li>
          <li class='card-content__item'>Ki Technologies</li>
          <li class='card-content__item'>Cardumen LATAM</li>
        </ul>
      </div>
      <div class='card-content career'>
        <h3 class='card-content__title'>
          <span class='card-content__number'>02</span>
          Carreras
        </h3>
        <ul class='card-content__list'>
          <li class='card-content__item'>Desarrollo y Diseño Web</li>
          <li class='card-content__item'>Diseño Gráfico</li>
        </ul>
      </div>
    </div>
  
    <div class='card-skills mt-32 ml-0 md:ml-[10%]'>
      <h2 class="card-skills__title title-evangelion">Habilidades</h2>
      <div class='card-content languages'>
        <h3 class='card-content__title mb-4 lg:mb-0'>
          Lenguajes web
        </h3>
        <ul class='card-content__list mb-4 lg:mb-0'>
          <li class='card-content__item'>HTML</li>
          <li class='card-content__item'>CSS</li>
          <li class='card-content__item'>JavaScript</li>
        </ul>
        <ul class="card-content__icons">
          <li>
            <Icon icon='html' size={28} color='var(--color-text)' />
          </li>
          <li>
            <Icon icon='css' size={28} color='var(--color-text)' />
          <li>
            <Icon icon='js' size={28} color='var(--color-text)' />
          </li>
        </ul>
      </div>
      <div class='card-content tools'>
        <h3 class='card-content__title mb-4 lg:mb-0'>Experiencia frameworks</h3>
        <ul class='card-content__list mb-4 lg:mb-0'>
          <li class='card-content__item'>Astro JS</li>
          <li class='card-content__item'>React</li>
          <li class='card-content__item'>Angular</li>
        </ul>
        <ul class="card-content__icons">
          <li>
            <Icon icon='astrojs' size={28} color='var(--color-text)' />
          </li>
          <li>
            <Icon icon='react' size={28} color='var(--color-text)' />
          </li>
          <li>
            <Icon icon='angular' size={28} color='var(--color-text)' />
          </li>
        </ul>
      </div>
      <div class='card-content skills'>
        <h3 class='card-content__title mb-4 lg:mb-0'>Competencias en</h3>
        <ul class='card-content__list mb-4 lg:mb-0'>
          <li class='card-content__item'>Git - GitHub</li>
          <li class='card-content__item'>Design System</li>
          <li class='card-content__item'>Scrum (metodología ágil)</li>
        </ul>
        <ul class="card-content__icons">
          <li>
            <Icon icon='git' size={28} color='var(--color-text)' />
          </li>
          <li>
            <Icon icon='github' size={28} color='var(--color-text)' />
          </li>
        </ul>
      </div>
      <div class="bar-decoration"></div>
      <figure class='card-skills__img-content'>
        <Image
          src={habilidadesImg}
          class='card-skills__img'
          alt='oficina de trabajo'
        />
      </figure>
    </div>
  </div>
</section>

<style lang='scss'>
  .description {
    position: relative;
    overflow: hidden;
    cursor: copy;

    .caution-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: var(--color-bg);
      position: relative;

      :is(.caution-bar__bg1, .caution-bar__bg2) {
        display: block;
        content: '';
        width: 50%;
        height: 80px;
        position: absolute;
        z-index: 0;
        animation: pulse 2s linear infinite;
      }
      &__bg1 {
        top: 0;
        left: 0;
        background: repeating-linear-gradient(
          -45deg,
          var(--color-bg),
          var(--color-bg) 40px,
          var(--color-main-2-d2) 41px,
          var(--color-main-2) 43px,
          var(--color-main-2) 80px,
          var(--color-main-2-d2) 82px
        );
      }
      &__bg2 {
        top: 0;
        right: 0;
        background: repeating-linear-gradient(
          45deg,
          var(--color-bg),
          var(--color-bg) 40px,
          var(--color-main-2-d2) 41px,
          var(--color-main-2) 43px,
          var(--color-main-2) 80px,
          var(--color-main-2-d2) 82px
        );
      }
    }

    .warning-slider {
      width: 100%;
      height: var(--height);
      overflow: hidden;
      color: var(--color-main-2);
      background-color: var(--color-bg);
      position: relative;

      &:hover .warning-slider__item {
        animation-play-state: paused;
      }

      &__list {
        display: flex;
        width: 100%;
        min-width: calc(var(--width) * var(--quantity));
        position: relative;
      }
      &__item {
        width: var(--width);
        height: var(--height);
        position: absolute;
        left: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: autoRun 10s linear infinite;
        transition: filter 0.5s;
        animation-delay: calc(
          (10s / var(--quantity)) * (var(--position) - 1) - 10s
        );
      }
      &__text {
        font-size: 1.3rem;
        font-weight: bold;
        font-family: var(--font-family-2);
        margin-left: 1rem;
        margin-right: 1rem;
      }

      @keyframes autoRun {
        from {
          left: 100%;
        }
        to {
          left: calc(var(--width) * -1);
        }
      }
    }

    .ruler-deco {
      position: absolute;
      z-index: 0;
      top: 84px;
      opacity: 0.4;

      &--1 {
        left: -7px;
      }
      &--2 {
        right: -7px;
      }
      @media screen and (width >= 768px){
        opacity: 0.6;
      }
      @media screen and (width >= 1024px) {
        opacity: 1;
        &--1 {
          left: 0;
        }
        &--2 {
          right: 0;
        }
      }
    }
  }

  .card-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;

    &__title{
      font-family: var(--font-family-3);
      font-size: clamp(2rem, 2.08vw + 1rem, 2.5rem);
      line-height: 50px;
      color: var(--color-main-1);
    }
    &__number {
      display: inline-block;
      font-size: clamp(2.625rem, 3.38vw + 1rem, 3.75rem);
    }
    &__list{
      padding-left: 18px;
      font-size: var(--size-14px);
      min-height: unset;
    }
    &__item{
      list-style-type: disclosure-closed;
      &::marker{
        color: var(--color-main-3);
      }
    }
    &__icons{
      display: flex;
      gap: 0.5rem;
    }
    @media screen and (width >= 768px){
      width: 49%;
    }
    @media screen and (width >= 1280px) {
      width: 20%;
      padding: 0 0.5rem;

      &__number {
        display: block;
      }
      &__text{
        min-height: 65px;
      }
      &__list{
        font-size: 1rem;
        min-height: 65px;
      }
    }
  }

  .bar-decoration{
    width: 100%;
    height: 25px;
    background-image: repeating-linear-gradient(
      135deg,
      transparent,
      transparent 10px,
      var(--color-main-2) 11px,
      var(--color-main-2) 20px
    );
    background-size: 56px 254px;
    animation: deslizarY 10s linear infinite;

    @media screen and (width >= 768px){
      display: none;
    }
    @media screen and (width >= 1280px){
      width: 3%;
      height: auto;
      display: block;
    }
  }

  .card-experience{
    position: relative;
    width: 100%;
    border: 1px solid var(--color-main-2);
    padding: var(--size-8px);
    display: flex;
    flex-direction: column;
    gap: var(--size-8px);
    position: relative;
    box-shadow: var(--color-main-2) 0px 0px 10px;
    background-color: var(--color-bg);

    &__title{
      position: absolute;
      top: -60px;
      left: 0;
      font-size: clamp(2rem, 2.08vw + 1rem, 2.5rem);
      width: 100%;
      text-align: center;
    }
    &__img-content{
      width: 100%;
    }
    .card-content{
      border-top: 1px solid var(--color-main-2);
    }
    @media screen and (width >= 768px){
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;

      &__title{
        width: auto;
      }
      &__img-content{
        width: 49%;
      }
      .card-content.years{
        border-top: 0;
      }
      .card-content__title{
        text-align: center;
      }
    }
    @media screen and (width >= 1280px){
      flex-wrap: nowrap;
      min-height: 275px;

      &__title{
        width: auto;
        text-align: unset;
      }
      &__img-content{
        width: 35%;
      }
      &__img{
        object-fit: cover;
        height: 100%;
      }
      .card-content{
        border-top: 0;
        border-left: 1px solid var(--color-main-2);

        &.years{
          .card-content__list{
            width: 85%;
          }
        }
      }
    }
    @media screen and (width >= 1900px){
      .card-content.years{
        .card-content__list{
          width: 65%;
        }
      }
    }
  }

  .card-skills{
    position: relative;
    width: 100%;
    border: 1px solid var(--color-main-2);
    padding: var(--size-8px);
    display: flex;
    flex-direction: column;
    gap: var(--size-8px);
    position: relative;
    box-shadow: var(--color-main-2) 0px 0px 10px;
    background-color: var(--color-bg);

    &__title{
      position: absolute;
      top: -60px;
      right: 0;
      font-size: clamp(2rem, 2.08vw + 1rem, 2.5rem);
      width: 100%;
      text-align: center;
    }
    &__img-content{
      width: 100%;
    }
    .card-content{
      border-bottom: 1px solid var(--color-main-2);
      padding: 1rem 0 1.5rem;

      &__title{
        font-size: clamp(1.75rem, 1.55vw + 1rem, 2rem);
        line-height: 30px;
        width: min(65%, 238px);
      }
    }
    @media screen and (width >= 768px){
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;

      &__title{
        width: auto;
      }
      &__img-content{
        width: 49%;
      }
      .card-content.skills{
        border-bottom: 0;
      }
    }
    @media screen and (width >= 1280px){
      flex-wrap: nowrap;
      min-height: 275px;
      &__img{
        object-fit: cover;
        height: 100%;
      }

      &__title{
        width: auto;
        text-align: unset;
      }
      &__img-content{
        width: 35%;
      }
      &__img{
        object-fit: cover;
        height: 100%;
      }
      .card-content{
        width: 26%;
        border-bottom: none;
        padding: 0 0.5rem;
        border-right: 1px solid var(--color-main-2);

        &__title{
          width: 100%;
        }
        .skills{
          border-right: 0;
        }
      }
    }
    @media screen and (width >= 1900px){
      min-height: 336px;
      .card-content{
        width: 22%;
        &__title{
          font-size: var(--size-36px);
        }
      }
    }
  }
</style>
