---
import Icon from '@components/Icon.astro';
import Threads from '../jsx/Threads';
---
<script>
	import Splide from '@splidejs/splide';
	
	document.addEventListener('DOMContentLoaded', () => {
		// Configuracion del slider principal
		const mainSlider = new Splide('#main-slider-portfolio-home', {
			type: 'loop',
			autoplay: true, //true
			perPage: 1,
			perMove: 1,
			gap: '1rem',
			pagination: false,
			interval: 3500,
			pauseOnHover: true,
			pauseOnFocus: true,
			progress: true,
			resetProgress: false,
			height: 400,
			breakpoints: {
				767: {
					height: 300,
				},
        1023: {
          height: 350,
        },
			},
		});

		// Configuracion del slider Thumbnail
		const thumbnailSlider = new Splide('#thumbnail-slider-portfolio-home', {
			rewind: true,
			focus: 'center',gap: 10,
			pagination: false,
			arrows: false,
			isNavigation: true,
      fixedWidth: 150,
			fixedHeight: 100,
			breakpoints: {
				767: {
					fixedWidth: 120,
					fixedHeight: 80,
				}
			},
		});

		// Sincronizar los sliders e iniciarlos
		mainSlider.sync(thumbnailSlider);

		mainSlider.mount();
		thumbnailSlider.mount();

		// Configuracion del slider de contenido
		const contentSlides = document.querySelectorAll('.content-slide__wrap');

		contentSlides[0].classList.add('is-active');

		mainSlider.on('moved', (newIndex) => {
			//ocultar todos los textos
			contentSlides.forEach( slideElement => {
				slideElement.classList.remove('is-active');
			});
			// Mostrar el texto correspondiente al slide activo
			contentSlides[newIndex].classList.add('is-active');
		});

		// iniciar el contenido del primer slide al cargar la página
		mainSlider.on('ready', () => {
			contentSlides[mainSlider.index].classList.add('is-active');
		});
	});

  //Script para la sección 3 de la consola
  const console = document.querySelector('.portfolio-slider__section--3');
  const consoleText1 = document.querySelector('.console-section-3__text-1');
  const consoleText2 = document.querySelector('.console-section-3__text-2');

  console?.addEventListener('mouseenter', () => {
    consoleText1?.classList.add('hidden');
    consoleText2?.classList.remove('hidden');
  });
  console?.addEventListener('mouseleave', () => {
    consoleText1?.classList.remove('hidden');
    consoleText2?.classList.add('hidden');
  });
</script>

<section class='portfolio-home'>
  <div class="top-content">
    <div class="top-content__titlebox">
      <h2 class="top-content__title title-evangelion">Portafolio</h2>
    </div>
  </div>
  <div class='container mx-auto px-2 md:px-4'>
    <article class='portfolio-slider'>
      <h3 class="portfolio-slider__title">Destacados</h3>
      <div class="portfolio-slider__container">
        <!-- seccion 1 -->
        <div class="portfolio-slider__section portfolio-slider__section--1">
					<!-- Slider principal -->
					<section id="main-slider-portfolio-home" class="main-portfolio-slider splide">
            <div class="splide__arrows">
              <button class="splide__arrow splide__arrow--prev" title="trabajo anterior">
                <Icon icon='arrowSlider' size={40} color='var(--color-bg)'/>
              </button>
              <button class="splide__arrow splide__arrow--next" title="trabajo siguiente">
                <Icon icon='arrowSlider' size={40} color='var(--color-bg)'/>
              </button>
            </div>
            
						<div class="splide__track">
							<ul class="splide__list">
								<!-- Slide 1 -->
								<li class="splide__slide">
                  <a class="splide__link" href="#">
                    <span class="splide__active-screen">
                      <Icon class='splide__icon hidden md:block' icon="zoom" size={60} color="var(--color-main-1)"/>
                    </span>
                    <img class="splide__img-main" src="https://picsum.photos/id/1018/1000/600" alt="Montañas">
                  </a>
								</li>
								<!-- Slide 2 -->
								<li class="splide__slide">
                  <a class="splide__link" href="#">
                    <span class="splide__active-screen">
                      <Icon class='splide__icon hidden md:block' icon="zoom" size={60} color="var(--color-main-1)"/>
                    </span>
                    <img class="splide__img-main" src="https://picsum.photos/id/1015/1000/600" alt="Río y montañas">
                  </a>
								</li>
								<!-- Slide 3 -->
								<li class="splide__slide">
                  <a class="splide__link" href="#">
                    <span class="splide__active-screen">
                      <Icon class='splide__icon hidden md:block' icon="zoom" size={60} color="var(--color-main-1)"/>
                    </span>
                    <img class="splide__img-main" src="https://picsum.photos/id/1019/1000/600" alt="Lago">
                  </a>
								</li>
								<!-- Slide 4 -->
								<li class="splide__slide">
                  <a class="splide__link" href="#">
                    <span class="splide__active-screen">
                      <Icon class='splide__icon hidden md:block' icon="zoom" size={60} color="var(--color-main-1)"/>
                    </span>
                    <img class="splide__img-main" src="https://picsum.photos/id/1039/1000/600" alt="Bosque">
                  </a>
								</li>
								<!-- Slide 5 -->
								<li class="splide__slide">
                  <a class="splide__link" href="#">
                    <span class="splide__active-screen">
                      <Icon class='splide__icon hidden md:block' icon="zoom" size={60} color="var(--color-main-1)"/>
                    </span>
                    <img class="splide__img-main" src="https://picsum.photos/id/1043/1000/600" alt="Campo">
                  </a>
								</li>
							</ul>
						</div>

						<div class="splide__progress">
							<div class="splide__progress__bar"></div>
						</div>
            <button class="splide__toggle" type="button">
              <span class="splide__toggle__play" title="Play">
                <Icon icon="play" size={24} color="var(--color-bg)"/>
              </span>
              <span class="splide__toggle__pause" title="Pause">
                <Icon icon="pause" size={24} color="var(--color-bg)"/>
              </span>
            </button>
					</section>
				</div>
				<!-- seccion 2 -->
        <div class="portfolio-slider__section portfolio-slider__section--2">
					<!-- Slider de miniaturas (thumbnails) -->
					<section id="thumbnail-slider-portfolio-home" class="splide thumbnail-slider">
						<div class="splide__track">
							<ul class="splide__list">
								<!-- Las mismas imágenes que en el slider principal, pero como miniaturas -->
								<li class="splide__slide">
                  <span class="splide__client-screen">
                    Escuela militar
                  </span>
									<img class="splide__img" src="https://picsum.photos/id/1018/200/200" alt="Montañas">
								</li>
								<li class="splide__slide">
                  <span class="splide__client-screen">
                    Policia de investigaciones (PDI)
                  </span>
									<img class="splide__img" src="https://picsum.photos/id/1015/200/200" alt="Río y montañas">
								</li>
								<li class="splide__slide">
                  <span class="splide__client-screen">
                    Mnisterio de energia
                  </span>
									<img class="splide__img" src="https://picsum.photos/id/1019/200/200" alt="Lago">
								</li>
								<li class="splide__slide">
                  <span class="splide__client-screen">
                    Escuela militar
                  </span>
									<img class="splide__img" src="https://picsum.photos/id/1039/200/200" alt="Bosque">
								</li>
								<li class="splide__slide">
                  <span class="splide__client-screen">
                    Policia de investigaciones (PDI)
                  </span>
									<img class="splide__img" src="https://picsum.photos/id/1043/200/200" alt="Campo">
								</li>
							</ul>
						</div>
					</section>

					<!-- Sección de contenido (títulos y descripciones) -->
					<section id="content-slider-portfolio-home" class="content-slider-portfolio">
            <div class="content-slide">
              <!-- Contenido Slide 1 -->
              <div class="content-slide__wrap" id="content-0">
                <h4 class="content-slide__number">01</h4>
                <div class="content-slide__text-wrap">
                  <h3 class="content-slide__slide-title">Sitio web institucional</h3>
                  <p class="content-slide__slide-description">Escuela Militar.</p>
                </div>
                <a href="#" class="content-slide__btn btn-main">
                  <span class="content-slide__btn-content btn-main__content">
                    Ver trabajo
                  </span>
                </a>
              </div>
              
              <!-- Contenido Slide 2 -->
              <div class="content-slide__wrap" id="content-1">
                <h4 class="content-slide__number">02</h4>
                <div class="content-slide__text-wrap">
                  <h3 class="content-slide__slide-title">Policia de investigaciones (PDI)</h3>
                  <p class="content-slide__slide-description">Escuela Militar.</p>
                </div>
                <a href="#" class="content-slide__btn btn-main">
                  <span class="content-slide__btn-content btn-main__content">
                    Ver trabajo
                  </span>
                </a>
              </div>
              
              <!-- Contenido Slide 3 -->
              <div class="content-slide__wrap" id="content-2">
                <h4 class="content-slide__number">03</h4>
                <div class="content-slide__text-wrap">
                  <h3 class="content-slide__slide-title">Sitio web institucional Escuela Militar</h3>
                  <p class="content-slide__slide-description">Escuela Militar.</p>
                </div>
                <a href="#" class="content-slide__btn btn-main">
                  <span class="content-slide__btn-content btn-main__content">
                    Ver trabajo
                  </span>
                </a>
              </div>
              
              <!-- Contenido Slide 4 -->
              <div class="content-slide__wrap" id="content-3">
                <h4 class="content-slide__number">04</h4>
                <div class="content-slide__text-wrap">
                  <h3 class="content-slide__slide-title">Sitio web institucional Escuela Militar</h3>
                  <p class="content-slide__slide-description">Escuela Militar.</p>
                </div>
                <a href="#" class="content-slide__btn btn-main">
                  <span class="content-slide__btn-content btn-main__content">
                    Ver trabajo
                  </span>
                </a>
              </div>
              
              <!-- Contenido Slide 5 -->
              <div class="content-slide__wrap" id="content-4">
                <h4 class="content-slide__number">05</h4>
                <div class="content-slide__text-wrap">
                  <h3 class="content-slide__slide-title">Sitio web institucional Escuela Militar</h3>
                  <p class="content-slide__slide-description">Escuela Militar.</p>
                </div>
                <a href="#" class="content-slide__btn btn-main">
                  <span class="content-slide__btn-content btn-main__content">
                    Ver trabajo
                  </span>
                </a>
              </div>
            </div>
					</section>
				</div>
        <!-- seccion 3 -->
        <div class="portfolio-slider__section portfolio-slider__section--3">
          <Threads
            client:load
            amplitude={6}
            distance={.8}
            enableMouseInteraction={true}
          />
          <div class="console-section-3">
            <article class="console-section-3__text-1">
              <p>Conectando servidor</p>
              <p>Consumiendo API</p>
              <p>
                Cargando datos<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span>
              </p>
            </article>
            <article class="console-section-3__text-2 hidden">
              <p>[Conexión interrumpida]</p>
            </article>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="bottom-content">
    <div class='container mx-auto px-2 md:px-4'>
      <div class="bottom-content__btn-wrap">
        <span class="triangle triangle--1"></span>
        <a href="#" class="btn-main">
          <span class="btn-main__content">
            Ver más trabajos
          </span>
        </a>
        <span class="triangle triangle--2"></span>
      </div>
    </div>
  </div>
</section>

<style lang='scss'>
  .portfolio-home {
    position: relative;
    width: 100%;
    //height: 960px;
    background-color: var(--color-bg);
    background-image: linear-gradient(var(--color-main-1-d4) 1px, transparent 1px), linear-gradient(to right, var(--color-main-1-d4) 1px, transparent 1px);
    background-size: 194px 194px;
    padding-block: 5rem;
    border-bottom: 1px solid var(--color-main-1-d4);
    border-right: 1px solid var(--color-main-1-d4);

    @media screen and (width >= 1024px) {
      background-size: 214px 214px;
    }
  }
  
  .top-content{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
    margin-bottom: 3rem;

    &__titlebox{
      position: relative;
      min-width: 22vw;
      padding: 2rem 1rem;
      backdrop-filter: blur(3px);
      background-color: rgba(var(--color-bg-rgb), 0.3);
      border: 1px solid rgba(var(--color-main-1-rgb), 0.125);
      border-left: 2px solid var(--color-main-1);
      border-top: 2px solid var(--color-main-1);
      outline: var(--color-main-2-d2) double 4px;
      outline-offset: 5px;

      &::before{
        content: "";
        position: absolute;
        top: -1px;
        left: 0px;
        display: block;
        width: 20px;
        height: 20px;
        background-color: var(--color-main-1);
        clip-path: polygon(0 0,100% 0,100% 50%,0% 100%);
        transition: opacity 0.3s,transform 0.3s cubic-bezier(0.455,0.03,0.515,0.955);
      }
    }
    &__title{
      font-size: clamp(2rem, 2.08vw + 1rem, 2.625rem);
      text-align: center;
    }
  }

  .bottom-content{
    position: relative;
    width: 100%;
    margin-top: 2rem;

    &__btn-wrap{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .8rem;
      height: 180px;
      border: 1px solid var(--color-main-1-d2);
      background: 
      radial-gradient(farthest-side at -33.33% 50%,#0000 52%,rgba(var(--color-main-1-rgb), .15) 54% 57%,#0000 59%) 0 calc(80px/2),
      radial-gradient(farthest-side at 50% 133.33%,#0000 52%,rgba(var(--color-main-1-rgb), .15) 54% 57%,#0000 59%) calc(80px/2) 0,
      radial-gradient(farthest-side at 133.33% 50%,#0000 52%,rgba(var(--color-main-1-rgb), .15) 54% 57%,#0000 59%),
      radial-gradient(farthest-side at 50% -33.33%,#0000 52%,rgba(var(--color-main-1-rgb), .15) 54% 57%,#0000 59%),
      transparent;
      background-size: calc(80px/4.667) 80px,80px calc(80px/4.667);

      &:has(.btn-main:hover){
        .triangle{
          visibility: visible;
        }
      }
    }

    .triangle{
      visibility: hidden;
      border-left: .8rem solid transparent;
      border-right: .8rem solid transparent;
      animation: blink-in .2s infinite cubic-bezier(1,0,0,1) forwards;
      
      &--1{
        border-top: .8rem solid var(--color-main-3);
      }
      &--2{
        border-bottom: .8rem solid var(--color-main-3);
      }
    }

    .btn-main{
      width: 16rem;
      height: 4rem;
      background-color: var(--color-main-1);

      &__content{
        font-size: var(--size-20px);
        font-weight: bold;
      }

      &:hover{
        background-color: var(--color-main-3);
        transition: background-color 0.3s ease-in-out;

        .btn-main__content{
          background: linear-gradient(0deg, var(--color-main-3-d3) 0%, var(--color-main-3) 20%);
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }

  .portfolio-slider{
    position: relative;
    //width: 80%;
    margin-inline: auto;
    &__title{
      font-size: var(--size-26px);
      border-bottom: 1px solid var(--color-main-1-d1);
      margin-bottom: 2rem;
      font-family: var(--font-family-2);
      text-transform: uppercase;
    }
    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;      
    }
    &__section{
      position: relative;
      height: auto;
      border: 1px solid var(--color-main-1-d2);
      &--1{
        width: 100%;
        height: 400px;
      }
      &--2{
        width: 100%;
      }
      &--3{
        display: none;
      }
    }
    @media screen and (width >= 768px) {
      &__container{
        flex-direction: row;        
      }
      &__section{
        height: 528px;
        &--1{
          width: 50%;
        }
        &--2{
          width: 50%;
          border-left: 0px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 118px 1fr;
        }
      }
    }
    @media screen and (width >= 1024px) {
      &__section{
        height: 568px;
        &--1{
          width: 45%;
        }
        &--2{
          width: 45%;
          border-right: 0px;
        }
        &--3{
          display: block;
          width: 10%;
          background-color: rgba(var(--color-bg-rgb), .8);
          position: relative;
        }
      }
    }
  }

	.main-portfolio-slider.splide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: repeating-linear-gradient(135deg, var(--color-main-1-d4) 0, var(--color-main-1-d4) 1px, transparent 0, transparent 50%);
    background-size: 32px 32px;

    .splide__link{
      position: relative;
      z-index: 2;
      display: inline-block;
      border: 1px solid var(--color-bg);
      transition: background-color 0.3s ease-in-out;

      &::before{
        content: "";
        position: absolute;
        z-index: 1;
        top: 0px;
        left: -1px;
        width: 65px;
        height: 60px;
        background-color: transparent;
        clip-path: polygon(0% 0%, 100% 0, 56% 80%, 21% 80%, 0% 100%);
      }
      &::after{
        content: "";
        position: absolute;
        z-index: 1;
        top: 0px;
        right: -1px;
        width: 65px;
        height: 60px;
        background-color: transparent;
        clip-path: polygon(0% 0%, 100% 0, 56% 80%, 21% 80%, 0% 100%);
        transform: rotate(180deg) rotateX(-180deg);
      }
      &:hover{
        border: 1px solid var(--color-main-1);

        &::before, &::after{
          background-color: var(--color-main-1);
          transition: background 0.2s ease-in-out;
        }
        .splide__active-screen{
          opacity: 1;
          background-color: rgba(var(--color-bg-rgb), .4);
          transition: opacity 0.2s ease-in-out;
        }
      }
    }
    .splide__active-screen{
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    .splide__icon{
      fill: tomato;
    }
    .splide__img-main{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .splide__track{
      width: 70%;
    }
    .splide__arrows{
      .splide__arrow{
        position: absolute;
        z-index: 1;
        padding: 8px 2px;
        background-color: var(--color-main-1-d1);
        transition: background-color 0.3s ease-in-out;

        &:hover{
          background-color: var(--color-main-1-l2);
          transition: background-color 0.2s ease-in-out;
        }
        &--prev{
          left: 2%;
          top: 46%;
          transform: translateY(-50%) rotateY(180deg);
        }
        &--next{
          right: 2%;
          top: 46%;
          transform: translateY(-50%);
        }
      }
    }
    .splide__progress {
      border: 1px solid var(--color-main-1-d3);
      display: block;
      width: 70%;
      background-color: rgba(var(--color-bg-rgb, 0.3));

      .splide__progress__bar{
        height: 10px;
        background-color: var(--color-main-3);
      }
    }
    .splide__toggle{
      padding: 0.3rem 10px;
      transform: translateY(.5rem);
      background-color: var(--color-main-1);
      transition: background-color 0.3s ease-in-out;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      width: 42px;
      height: 38px;
      .splide__toggle__pause, .splide__toggle__play{
        vertical-align: middle;
      }

      &.is-active{
        background-color: var(--color-main-1-d2);

        &:hover{
          background-color: var(--color-main-1);
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
    @media screen and (width >= 768px){
      .splide__track{
        width: 80%;
      }
      .splide__progress {
        width: 80%;
      }
    }
  }

  .thumbnail-slider.splide{
    padding: .5rem;
    border-bottom: 1px solid var(--color-main-1-d2);
    overflow: hidden;
    .splide__list {
      //transform: translateX(0) !important; /* Anular el centrado */
      //justify-content: flex-start !important; /* Alinear a la izquierda */
      gap: 0.5rem;
    }
    .splide__slide{
      position: relative;
      z-index: 2;
      margin-right: 0 !important;
      transition: 0.3s ease-in-out;
      border: 1px solid transparent;
      overflow: hidden;
      filter:saturate(0);

      &::before, &::after{
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        width: 5px;
        height: 15px;
        background-color: transparent;
      }
      &::before{
        left: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
      }
      &::after{
        right: 0px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
      }
      &:hover{
        filter:saturate(1);
        transition: 0.3s ease-in-out;
      }
      &.is-active{
        filter:saturate(1.5);
        transition: 0.3s ease-in-out;
        border: 1px solid var(--color-main-1);

        &::before, &::after{
          background-color: var(--color-main-1);
        }
      }
      &:hover, &.is-active{
        .splide__client-screen{
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
    .splide__img {
      width: 100%;
      object-fit: cover;
    }
    .splide__client-screen{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding: .8rem;
      display: grid;
      place-items: center;
      font-family: var(--font-family-2);
      font-size: .8rem;
      background-color: rgba(var(--color-bg-rgb), .4);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    @media screen and (width >= 1024px) {
      .splide__client-screen{
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }

  .content-slider-portfolio{
    .content-slide {
      padding: 2rem;
      background-color: rgba(var(--color-main-2-rgb), .6);
      &__wrap{
        display: none; /* Ocultamos todos los slides por defecto */
        animation: fadeIn 0.5s ease-in-out;
  
        &.is-active {
          display: flex; /* Mostramos solo el slide activo */
          flex-direction: column;
        }
      }

      &__number{
        font-family: var(--font-family-3);
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 3rem;
      }
      &__text-wrap{
        display: block;
        min-height: 120 + 32px;
        margin-bottom: 1rem;
      }
      &__slide-title{
        font-family: var(--font-family-2);
        font-size: 2rem;
        line-height: 2.5rem;
      }
      &__slide-description{
        font-family: var(--font-family-3);
        font-size: 1.1rem;
        line-height: 2rem;
      }
      &__btn{
        width: 60%;
        margin-inline: auto;

        &-content{
          //font-weight: bold;
          background-color: var(--color-main-2);
        }

        &:hover{
          background-color: var(--color-main-1);

          .content-slide__btn-content{
            background: linear-gradient(0deg, var(--color-main-1-d3) 0%, var(--color-main-1) 20%);
          }
        }
      }
    }

    @media screen and (width >= 768px){
      //margin-top: 20px;
      padding: 22px 24px;
      display: grid;
      align-content: center;

      .content-slide{
        clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
        &.is-active{
          padding: 2vw;
        }
        &__number{
          line-height: normal;
        }
        &__btn{
          width: unset;
        }
      }
    }
    @media screen and (width >= 1024px){
      padding: 44px;

      .content-slide{
        &.is-active{
          align-items: start;
        }
        &__text-wrap{
          min-height: 80 + 32px;
        }
        &__btn{
          margin-inline: unset;
        }
      }
    }
  }

  .console-section-3{
    position: absolute;
    top: 15px;
    left: 5px;
    display: inline;
    color: var(--color-main-3);
    font-size: 11px;
    font-family: var(--font-family-3);

    .dot {
      opacity: 0;
      animation: fade-sequence 2.4s infinite;

      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 0.3s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
    }
  }

  :global([data-theme="light"]) {
    .console-section-3{
      color: var(--color-text);
    }
  }
</style>
