---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'works'>;
}

const { work } = Astro.props;
const frontmatter = work.data;
---

<li class='catalog__item'>
  <figure class='catalog__figure'>
    <a class='catalog__link' href={`#`}>
      <Image
        src={frontmatter.heroImg}
        alt={'imagen ' + frontmatter.title}
        class='catalog__image h-1/2'
      />
      <figcaption class='catalog__caption'>
        <h3 class='catalog__title'>{frontmatter.title}</h3>
        <!-- <span>{frontmatter.postNumber}</span> -->
        <span class='catalog__cross catalog__cross--1'></span>
        <span class='catalog__cross catalog__cross--2'></span>
      </figcaption>
    </a>
  </figure>
</li>

<style lang='scss'>
  .catalog {
    &__item {
      margin-bottom: 1rem;
    }
    &__figure {
      overflow: hidden;
      display: inline-block;
      padding: 1px;
      background-color: var(--color-main-1);
      clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
      );
    }
    &__link {
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 350px;
      font-family: var(--font-family-2);
      font-size: 1rem;
      color: var(--color-text);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      transition: background-color 0.2s ease-in-out;
      clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
      );
    }
    &__image {
    }
    &__caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, var(--color-bg) 0%, transparent 110%);
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    &__title {
      font-family: var(--font-family-2);
      font-size: 22px;
      background-color: var(--color-bg);
      padding: 2px 8px;
      font-weight: bolder;
      text-decoration: overline;
      text-decoration-color: var(--color-main-1);
      text-shadow: var(--color-main-1) 0px 0px 2px;
    }
    &__cross {
      width: 70px;
      height: 2px;
      display: block;
      background-color: var(--color-main-1);
      position: absolute;
      top: 60%;
      left: 50%;
      translate: -50% 0;

      &--2 {
        transform: rotate(90deg);
      }
    }

    @media screen and (768px <= width < 1024px) {
      &__caption {
        background: linear-gradient(
          180deg,
          var(--color-bg) 10%,
          transparent 200%
        );
      }
      &__link {
        max-height: 450px;
      }
      &__cross {
        top: 50%;
      }
    }

    @media screen and (width >= 1024px) and (hover: hover) {
      &__caption {
        opacity: 0;
        &:hover {
          opacity: 1;
          transition: opacity 0.2s ease-in-out;
        }
      }
      &__link {
        max-height: 600px;
      }
    }
  }
</style>
