---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

interface Props {
  work: CollectionEntry<'works'>;
}

const { work } = Astro.props;
const frontmatter = work.data;
---

<script>
  const cards = document.querySelectorAll('.catalog__figure');

  window.addEventListener('load', () => {
    cards.forEach((card) => {
      let realImg = card.querySelector('.catalog__image') as HTMLElement;
      let skeletonImg = card.querySelector('.skeleton__img') as HTMLElement;

      skeletonImg?.classList.add('hidden');

      realImg?.classList.add('loaded');
    });
  });
</script>

<li class='catalog__item'>
  <a class='catalog__link' href={`/portfolio/${work.slug}`}>
    <figure class='catalog__figure'>
      <div class='skeleton skeleton__img'></div>
      <Image
        src={frontmatter.heroImg}
        alt={'imagen ' + frontmatter.title}
        class='catalog__image'
        loading={'lazy'}
      />
      <figcaption class='catalog__caption'>
        <h3 class='catalog__title'>{frontmatter.title}</h3>
        <span class='catalog__cross catalog__cross--1'></span>
        <span class='catalog__cross catalog__cross--2'></span>
      </figcaption>
    </figure>
  </a>
</li>

<style lang='scss'>
  .skeleton {
    background: linear-gradient(90deg, var(--color-main-1) 25%, var(--color-main-1-d2) 50%, var(--color-main-1) 75%);
    background-size: 200% 100%;
    animation: loadingSkeleton 1000ms infinite;

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 0;
      position: absolute;
      inset: 0;
      z-index: 2;
    }
  }

  @keyframes loadingSkeleton {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  .catalog {
    &__item {
      margin-bottom: 1rem;
    }
    &__link {
      overflow: hidden;
      display: block;
      padding: 1px;
      background-color: var(--color-main-1);
      clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
      );
    }
    &__figure {
      position: relative;
      width: 100%;
      height: 100%;
      max-height: 350px;
      font-family: var(--font-family-2);
      font-size: 1rem;
      color: var(--color-text);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      transition: background-color 0.2s ease-in-out;
      clip-path: polygon(
        10px 0,
        100% 0,
        100% calc(100% - 10px),
        calc(100% - 10px) 100%,
        0 100%,
        0 10px
      );
    }
    &__image {
      opacity: 0;
      transition: opacity 0.3s ease;

      &.loaded {
        opacity: 1;
      }
    }
    &__caption {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, var(--color-bg) 0%, transparent 110%);
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    &__title {
      font-family: var(--font-family-2);
      font-size: 22px;
      background-color: var(--color-bg);
      padding: 2px 8px;
      font-weight: bolder;
      text-decoration: overline;
      text-decoration-color: var(--color-main-1);
      text-shadow: var(--color-main-1) 0px 0px 2px;
    }
    &__cross {
      width: 70px;
      height: 2px;
      display: block;
      background-color: var(--color-main-1);
      position: absolute;
      top: 60%;
      left: 50%;
      translate: -50% 0;

      &--2 {
        transform: rotate(90deg);
      }
    }

    @media screen and (width >= 768px) {
      &__caption {
        background: linear-gradient(180deg, var(--color-bg) 10%, transparent 200%);
      }
      &__figure {
        max-height: 450px;
      }
      &__cross {
        top: 50%;
      }
    }

    @media screen and (width >= 1024px) and (hover: hover) {
      &__caption {
        opacity: 0;
        &:hover {
          opacity: 1;
          transition: opacity 0.2s ease-in-out;
        }
      }
      &__figure {
        max-height: 600px;
      }
    }
  }
</style>
