---
import Icon from '@components/Icon.astro';
---
<script>
  const currentYear = new Date().getFullYear();
  const episodeNumberElement = document.querySelector(
    '.footer__year'
  );
  episodeNumberElement &&
    (episodeNumberElement.textContent = `${currentYear}`);
</script>

<section class="footer">
  <div class='container mx-auto px-2 md:px-4'>
    <div class="flex justify-center md:justify-between flex-wrap gap-4">
      <div class='footer__content'>
        <p class='footer__text'>&copy;<span class="footer__year">2020</span> Sebastián Olate Huenuñir.</p>
        <p class='footer__text'>Desarrollado en Chile con <a href="https://astro.build/" target="_blank" class="underline"><cite>Astro</cite></a> y mucho CSS.</p>
        <p class='footer__text'>Diseño inspirado en la serie <a href="https://es.wikipedia.org/wiki/Neon_Genesis_Evangelion" target="_blank" class="underline"><cite>Neon Genesis Evangelion</cite></a> (新世紀エヴァンゲリオン)</p>
      </div>
      <div class="footer__logo-content">
        <Icon icon="logoSO" width="180px" height="auto" color='var(--color-main-1)' class="footer__logo" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .footer {
    background-image: repeating-linear-gradient(135deg, rgba(var(--color-main-1-rgb), 0.07) 0px, rgba(var(--color-main-1-rgb), 0.07) 1px,transparent 1px, transparent 11px,rgba(var(--color-main-1-rgb), 0.07) 11px, rgba(var(--color-main-1-rgb), 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(180deg, rgba(var(--color-main-1-rgb), 0.07) 0px, rgba(var(--color-main-1-rgb), 0.07) 1px,transparent 1px, transparent 11px,rgba(var(--color-main-1-rgb), 0.07) 11px, rgba(var(--color-main-1-rgb), 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(var(--color-main-1-rgb), 0.07) 0px, rgba(var(--color-main-1-rgb), 0.07) 1px,transparent 1px, transparent 11px,rgba(var(--color-main-1-rgb), 0.07) 11px, rgba(var(--color-main-1-rgb), 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(225deg, rgba(var(--color-main-1-rgb), 0.07) 0px, rgba(var(--color-main-1-rgb), 0.07) 1px,transparent 1px, transparent 11px,rgba(var(--color-main-1-rgb), 0.07) 11px, rgba(var(--color-main-1-rgb), 0.07) 12px,transparent 12px, transparent 32px),linear-gradient(180deg, rgb(var(--color-bg-rgb)),rgb(var(--color-main-1-rgb))250%);
    position: relative;
    width: 100%;
    min-height: 10vh;
    padding-block: 2rem;

    &__text {
      font-size: var(--size-14px);
    }
    &__logo {
      background-color: tomato;
    }
  }
</style>

