---
import MetaData from '@components/MetaData.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import imgOG from 'src/assets/imagen-og-seba-olate.jpg';
import '@styles/global.css';

interface Props {
	title?: string;
}
const { title } = Astro.props;
const urlPath = Astro.url.pathname;
---

<!doctype html>
<html lang="es" data-theme="dark">
	<head>
		<MetaData titlePage={title ?? 'Front-end developer'} image={imgOG.src} />
	</head>
	<body>
		<Header currentPath={urlPath} />
		<!-- contenido -->
		<slot />

		<Footer />
	</body>
</html>
